PORT = 5000
DB_URL = your mongo db cluster uri
NODE_ENV = development

# JWT secrets and expiration
JWT_ACCESS_SECRET = your jwt access secret
JWT_REFRESH_SECRET = your jwt refresh secret
ACCESS_EXPIRES_IN = access expiration time (like 1D, 1h etc)
REFRESH_EXPIRES_IN = refresh expiration time
SALT_VALUE = salt value for bycryptjs


#google auth
GOOGLE_CLIENT_ID= your google client id
GOOGLE_CLIENT_SECRET=your google client secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback 

#express session
EXPRESS_SESSION_SECRET=express session secret

#frontend URL
FRONTEND_URL=if you have any frontend url set it, if not set "http://localhost:5173"

# google maps
LOCATIONIQ_API_KEY=LOCATIONIQ_API_KEY to get location coordinates


